<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="ras-nuget-public" value="https://www.hec.usace.army.mil/nexus/repository/ras-nuget-public/" />
		<add key="dss-nuget" value="https://www.hec.usace.army.mil/nexus/repository/dss/" />
	</packageSources>
</configuration>
